* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Mono", sans-serif;
}

.flex-container {
  display: flex;
  flex-flow: column wrap;
}

nav {
  max-height: 100vh;
}

header {
  margin-bottom: 0.5em;
  font-weight: 600;
}

main header {
  margin-top: 1em;
}

.header {
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.fa-markdown {
  margin-right: 10px;
  color: #ff556d;
}

.code-wrapper {
  background-color: #424761;
  padding: 10px;
  margin: 10px 0;
  color: #fefffe;
  font-family: "IBM Plex Mono", Monospace;
}

mark {
  color: crimson;
  background-color: #f5f5f5;
  padding: 0 4px;
}

h1 {
  font-size: 2.2rem;
  color: #ff556d;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 4px;
}

h2:not(:first-child) {
  margin-top: 1em;
}

.md-h1 {
  font-size: 2em;
}
.md-h2 {
  margin: 0 !important;
  font-size: 1.5em;
}
.md-h3 {
  font-size: 1.17em;
}
.md-h4 {
  font-size: 1em;
}
.md-h5 {
  font-size: 0.83em;
}
.md-h6 {
  font-size: 0.67em;
}

.code-wrapper ul li {
  margin-left: 1.2em;
}
.code-wrapper ol li {
  margin-left: 1.8em;
}

footer ul,
footer a {
  font-style: normal;
}

footer ul:first-child {
  border-top-width: 2px;
  border-top-style: solid;
  border-image: linear-gradient(
      to right,
      #424761 5%,
      #ff556d 25% 50%,
      #424761 70%
    )
    1;
}

main a {
  color: #ff556d;
  font-weight: 600;
}
main a:hover {
  color: #424761;
}
.code-wrapper a:hover {
  color: #fefffe;
}

.code-wrapper blockquote {
  border-left: 4px solid #fefffe;
}
.code-wrapper blockquote p {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 16px;
}

.code-wrapper table,
.code-wrapper th,
.code-wrapper td {
  border: 2px solid #fefffe;
  border-collapse: collapse;
  padding: 4px;
}

.app {
  display: flex;
  min-height: 100%;
}

.sidebar {
  flex: 1 1 0;
  max-width: 250px;
  background-color: #424761;
  border-right: 2px solid #fefffe;
}

.sidebar #navbar {
  margin: 0 -1rem;
  padding: 1rem;
  position: sticky;
  top: 0;
}

.sidebar #navbar ul {
  list-style-type: none;
}

.sidebar #navbar li .nav-link {
  display: block;
  padding: 1rem;
  color: #fefffe;
  text-decoration: none;
  font-weight: 600;
}

.sidebar #navbar #title {
  color: #ff556d;
  background-color: #424761;
  font-size: 1.6rem;
  padding: 0 1rem 0.5rem 1rem;
  display: block;
  text-decoration: none;
}

.sidebar #navbar #title:hover {
  color: #fefffe;
  transition: color 0.2s;
}

.sidebar #navbar .nav-link:hover,
.sidebar #navbar .nav-link.is-active {
  color: #fefffe;
  background-color: #ff556d;
}

#main-doc {
  flex: 1 1 0;
  padding: 1rem 2rem 2rem 2rem;
  background-color: #fefffe;
}

section {
  padding-bottom: 1rem;
}

section header {
  color: #424761;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

section article {
  color: #424761;
  font-size: 1rem;
  padding-left: 1rem;
  margin-right: 5em;
  line-height: 1.6rem;
}

.menu-toggle {
  z-index: 999;
  display: none;
  position: fixed;
  top: 1rem;
  right: 2rem;
  width: 60px;
  height: 60px;
  border-radius: 99px;
  border: 2px solid #fefffe;
  background-color: #424761;
  cursor: pointer;
}

.hamburger {
  position: relative;
  top: calc(50% - 2px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background-color: #fefffe;
  transition-duration: 0.25s;
}

.hamburger > span::before {
  content: "";
  top: -8px;
}

.hamburger > span::after {
  content: "";
  top: 8px;
}
.menu-toggle.is-active .hamburger > span {
  transform: rotate(45deg);
}
.menu-toggle.is-active .hamburger > span::before {
  top: 0;
  transform: rotate(0deg);
}
.menu-toggle.is-active .hamburger > span::after {
  top: 0;
  transform: rotate(90deg);
}

@media (max-width: 1024px) {
  .sidebar {
    max-width: 200px;
  }
  .sidebar #navbar #title {
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  #main-doc {
    padding: 2rem 1rem 2rem 1rem;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    width: 100%;
    max-width: 200px;
    transition: 0.2s linear;
  }
  .sidebar.is-active {
    left: 0;
  }
  section article {
    margin-left: -16px;
    margin-right: 0;
  }
}
